body {
    background-color: hsl(43, 17%, 84%); /* light turquoise */
    padding-top: 20px;
}
.header {
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.form-group {
    max-width: 65%;
    margin: auto;
}
.input-group {
    border-radius: 20px;
}
.input-group .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 60%;
    height: 50px;
}

/* Specific styles for the branch dropdown */
.branch-select {
    height: 50px;
    width: 70px; /* Shorter width */
    background-color: #d6d6d6; /* Different background color, choose as needed */
    border: 1px solid #ced4da; /* Consistent border with Bootstrap's style */
}

.branch-select:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
    opacity: 0.6;
}
.input-group .input-group-append .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-outline-secondary {
    color: black;
    background-color: rgb(240, 211, 49);
    border: 1px solid #ced4da;
}

.btn-outline-secondary:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
    opacity: 0.6;
}
#markdownOutput {
    width: 80%;
    height: 500px;
    margin: 0px auto;
    display: block;
}
#copyButton {
    position: absolute;
    background-color: rgb(11, 56, 95);
    color: white;
    top: 0px;
    right: 75px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    z-index: 10; /* Ensure it's above other elements */
}

#downloadButton {
    position: absolute;
    background-color: rgb(95, 11, 11);
    color: white;
    top: 80px;
    right: 75px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    z-index: 10; /* Ensure it's above other elements */
}

.markdown-preview {
    width: 80%;
    height: 500px;
    margin: 0px auto;
    display: block;

    border: 1px solid #ddd;
    padding: 0px;
    background-color: #fff;
    min-height: 100px; /* Or any other height */

    overflow-y: auto; /* Add vertical scrollbar if content is long */
    padding: 0.375rem 0.75rem; /* Bootstrap's default padding for textareas */
    margin-bottom: 1rem; /* Optional: To provide some space below the container */
    border: 1px solid #ced4da; /* Bootstrap's default border for textareas */
    border-radius: 0.25rem; /* Bootstrap's default border-radius for textareas */
    resize: none;
}
/* Ensure the nav-tabs fill the width */

.nav-tabs {
    width: 79.7%;
    margin-left: 148px;
    text-align: center;
}

.nav-item {
    width: 50%; /* Each tab takes half the width */
}

.nav-tabs .nav-link {
    border: 1px solid #ddd;
    border-bottom: none; /* Remove border-bottom to blend with the content */
    margin-bottom: -1px; /* Pull the tab content up */
}

.tab-content {
    width: 100%;
    border: 1px solid #ddd;
}

.nav-tabs .nav-item .nav-link {
    border: none;
    background-color: rgb(181, 181, 181);
    color: white;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: rgb(58, 131, 176);
    color: white;
}

.navbar {
    height: 40px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
}

#faq-section {
    background-color: #fff; /* White background */
    padding: 2rem 0; /* Padding for top and bottom */
}

#accordion {
    max-width: 650px; /* Set a max-width for the accordion */
    margin: auto; /* Center the accordion in the page */
}

#accordion .card {
    border: none;
}

#accordion .card-header {
    background-color: #f8f9fa;
    border-bottom: none;
}

#accordion .card-body {
    text-align: left; /* Center the text inside the accordion body */
    border-left: 2px solid #007bff;
}

#faq-section h2 {
    margin-bottom: 0.5rem; /* Smaller bottom margin for the heading */
}

#faq-section hr {
    margin: 0 auto 2rem auto; /* Center the horizontal rule with automatic margins */
    width: 50%; /* Shorter width for the horizontal rule */
}

/* Additional styles to ensure that the page has no extra spacing */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}