<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Repo Index Generator</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
		<!-- <link
			rel="icon"
			type="image/png"
			href="{{ url_for('static', filename='/images/favicon.png') }}"
		/> -->
		<link
			href="{{ url_for('static', filename='/css/styles.css')}}"
			rel="stylesheet"
		/>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#">Index Generator</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#faq-section">FAQs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://pypi.org/project/indexgen/" target="_blank">CLI</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="header" style="padding-top: 90px">
			<h2><b>GitHub Repo Table of Contents Generator</b></h2>
		</div>

		<div class="form-group">
			<div class="input-group mb-3">
				<input
					type="text"
					id="repoUrl"
					class="form-control"
					placeholder="Enter GitHub Repository URL"
					aria-label="Repository URL"
				/>
				<select
					id="branchSelect"
					class="custom-select branch-select"
					aria-label="Select branch"
				>
					<option selected>Choose a branch...</option>
					<!-- Branch options will be dynamically populated here -->
				</select>
				<div class="input-group-append">
					<button
						class="btn btn-outline-secondary"
						type="button"
						id="button-addon2"
					>
						<i class="fas fa-arrow-right" id="arrow-icon"></i>
						<span
							class="spinner-border spinner-border-sm"
							role="status"
							aria-hidden="true"
							id="loading-spinner"
							style="display: none"
						></span>
					</button>
				</div>
			</div>
		</div>

		<div class="tabs-container">
			<ul class="nav nav-tabs" id="markdownTabs" role="tablist">
				<li class="nav-item">
					<a
						class="nav-link active"
						id="raw-tab"
						data-toggle="tab"
						href="#raw"
						role="tab"
						aria-controls="raw"
						aria-selected="true"
						>Raw Markdown</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						id="preview-tab"
						data-toggle="tab"
						href="#preview"
						role="tab"
						aria-controls="preview"
						aria-selected="false"
						>Preview</a
					>
				</li>
			</ul>
		</div>
		<div class="position-relative">
			<div class="tab-content">
				<div
					class="tab-pane active"
					id="raw"
					role="tabpanel"
					aria-labelledby="raw-tab"
				>
					<textarea
						id="markdownOutput"
						class="form-control"
						rows="10"
						style="resize: none"
					></textarea>
				</div>
				<div
					class="tab-pane"
					id="preview"
					role="tabpanel"
					aria-labelledby="preview-tab"
				>
					<div id="markdownPreview" class="markdown-preview form-control"></div>
				</div>
			</div>
			<button
				class="btn btn-outline-secondary rounded-circle"
				id="copyButton"
				title="Copy to Clipboard"
			>
				<i class="fa fa-paperclip"></i>
			</button>
			<button
				class="btn btn-outline-secondary rounded-circle"
				id="downloadButton"
				title="Download as INDEX.MD"
			>
				<i class="fa fa-download"></i>
			</button>
		</div>
		<section id="about" class="container">
			<div class="container my-5">
				<div class="row">
					<div class="col-lg-8 mx-auto">
						<h2 class="text-center">About</h2>
						<hr class="my-4" />
						<p class="text-justify">
							This project is a web application and a CLI designed to generate a linked
							table of contents or directory tree structure for GitHub
							repositories. It provides a clear, navigable structure to any
							given repository, presenting its contents in a readable and
							accessible markdown format. The application features a
							user-friendly interface with functionalities to view raw markdown,
							preview the markdown rendering, and download the content as an
							INDEX.MD file or simply copy it.
						</p>
					</div>
				</div>
			</div>
		</section>

		<section id="faq-section" class="bg-white">
			<div class="container">
				<h2 class="text-center">FAQs</h2>
				<hr class="my-4" />
				<div id="accordion">
					<!-- FAQs will be loaded here by JavaScript -->
				  </div>
			</div>
		</section>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
		<script src="{{ url_for('static', filename='js/script.js') }}""></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<footer class="bg-light text-center text-lg-start mt-4 footer">
			<div
				class="text-center p-3"
				style="background-color: rgba(140, 140, 140, 0.2)"
			>
				<a
					href="https://github.com/aimanfatima/hyperlinked-index-md-generator/blob/main/LICENSE"
					target="_blank"
					>GPL-3.0 license</a
				>
				|
				<a href="https://github.com/aimanfatima/ds-algo" target="_blank"
					><i class="fab fa-github"></i> GitHub</a
				>
				| Made with ❤︎ by
				<a href="https://github.com/aimanfatima" target="_blank">Aiman</a>
			</div>
		</footer>
	</body>
</html>
